{% extends "CitUserBundle::layout.html.twig" %}

{% block subtitle %}
    Supprimer mon compte
{% endblock %}

{% block fos_user_content %}
	<b>Souhaitez-vous supprimer votre compte ?</b>
	<br/>
	<br/>
	{% include 'FOSUserBundle:Profile:show_content.html.twig' %}
    <form action="{{ path('CitUserBundle_deleteuseraccount', { 'id': user.id }) }}" method="post">
        <p>
            <br/>
            <button class="button" type="submit">Supprimer</button>
        </p>
    </form>

    <a href="{{ path('CitUserBundle_homepage') }}">
        retour à mon compte
    </a>
{% endblock %}