{% extends "CitUserBundle::layout.html.twig" %}

{% block subtitle %}
	Changer mes infos de profil
{% endblock %}

{% block fos_user_content %}
	{% include "FOSUserBundle:Profile:edit_content.html.twig" %}

	<a href="{{ path('CitUserBundle_homepage') }}">
        retour à mon profil
    </a>
{% endblock %}


