<form action="{{ path("CitTestBundle_seeTripsOrPackets") }}" method="post">
	    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
	    <input type="text" class="city" id="villedepart" name="_depart" value="ville de départ" 
	    onclick="_depart.value='';" required="required"/>
	    <input type="text" class="city" id="villearrivee" name="_arrivee" value="ville d'arrivée" 
	    onclick="_arrivee.value='';" required="required"/>
	    <input class="button" type="submit" id="_submit" name="_submit" value="Chercher un colis" />
	    <input class="button" type="submit" id="_submit" name="_submit" value="Chercher un voyageur" />
</form>


