{% extends "CitTestBundle::layout.html.twig" %}

{% block title %}
	CARRY IT - Conditions Générales
{% endblock %}

{% block toplogin %}
    {% include 'CitUserBundle:Security:login_nude.html.twig' with {'last_username': lastusername, 
	'csrf_token': token, 'error': error, 'name': name} %}
{% endblock %}

{% block body %}
<div class="subtitle">Conditions Générales d'Utilisation</div>
<div id="cgu">
    <OL type="I">
	    <LI>Définitions</LI>
	    	<div id="definition">
		    	<p><b>CARRY IT</b> : désigne la société éditant les services de transport de colis entre particuliers proposés sur le site web www.carryit.net et dans les agences commerciales physiques.</p>
		    	<p><b>colis</b> : désigne l’élément ou le groupe d’éléments, avec son emballage, que l’expéditeur souhaite faire parvenir à un destinataire donné. Le colis contient des éléments de divers types (vêtements, jouets, livres, etc…).</p>
		    	<p><b>expéditeur</b> : désigne la personne physique qui souhaite faire parvenir un colis à un destinataire.</p>
		    	<p><b>voyageur</b> : désigne la personne physique ayant prévu d’effectuer un voyage par avion.Le voyageur met des kilos de bagage à disposition d’éventuels expéditeurs, transporte un colis pour un expéditeur et livre ce colis au destinataire.</p>
		    	<p><b>destinataire</b> : désigne la personne physique à qui l’expéditeur souhaite faire parvenir un colis.</p>
		    	<p><b>transport</b> : désigne le voyage que le voyageur effectue en possession d’un colis.</p>
		    	<p><b>site</b> : désigne le site web www.carryit.net.</p>
		    	<p><b>utilisateur</b> : désigne une personne physique inscrite sur le site, sans distinction entre un expéditeur ou un voyageur.</p>
		    	<p><b>compte utilisateur</b> : désigne le compte virtuel qui doit être créé pour devenir utilisateur et accéder aux services proposés sur www.carryit.net.</p>
	    	</div>
	    <LI>Avis important</LI>
		    <div id="avisimportant">
			    <p>Les présentes Conditions Générales s’appliquent aux services proposés par la société CARRY IT et le site web www.carryit.net. Le site www.carryit.net est édité par la société CARRY IT, ayant son siège social au 84 avenue de la République, immatriculée sous le numéro 751 251 463 RCS Paris.</p>
			    <p>Le site web www.carryit.net est hébergé par la société GANDI, Société par Actions Simplifiée au capital de 37.000€ ayant son siège social au 63-65 boulevard Masséna à Paris (75013), immatriculée sous le numéro 423 093 459 RCS PARIS.</p>
			    <p>Lorsque vous utilisez le site www.carryit.net ou que vous faites appel aux prestations de la société CARRY IT, vous acceptez que les présentes Conditions Générales s’appliquent.</p>
			    <p>En cas de manquement à l'une des obligations prévues par les présentes, CARRY IT se réserve la possibilité de supprimer le compte utilisateur concerné.</p>
			    <p>CARRY IT se réserve le droit de modifier à tout moment les Conditions Générales, ou de proposer des services nouveaux gratuits ou payants.</p>
			    <p>La modification prendra effet immédiatement dès la mise en ligne des CGU que tout utilisateur reconnait avoir préalablement consultées. Chaque transport effectif est soumis aux conditions générales en vigueur à la date de la convention entre l’expéditeur et le voyageur.</p>
		        <p>Les présentes conditions Générales sont accompagnées d'une <b>charte de bonne conduite</b>, qui s'applique à tous les utilisateurs du site <br/>(consulter la charte ici : <a href="{{ url('CitTestBundle_charter') }}">Charte du bon expéditeur/voyageur</a>).</p>
		    </div>
	    <LI>Accès aux services</LI>
			<div id="acces_services">
				<p>Les services proposés sur le site sont accessibles à toute personne physique âgée d’au moins 18 ans, qui procède à une inscription.</p>
				<p>Les services proposés dans les agences commerciales CARRY IT sont accessibles à toute personne physique âgée d’au moins 18 ans. Cette personne n’est pas obligatoirement inscrite sur le site.</p>
				<p>Pour s’inscrire, l’internaute remplit dans les espaces réservés à cet effet les informations de pseudonyme et d’adresse e-mail et choisit un mot de passe. Une fois l’inscription validée, l’utilisateur pourra compléter son profil en rajoutant son nom, son prénom, et son numéro de téléphone.</p>
				<p>L’utilisateur déclare sincères et véritables l’ensemble des informations qu’il saisit. La société CARRY IT se réserve la possibilité de vérifier la sincérité et la réalité des rubriques renseignées, notamment par l’envoi d’un e-mail de contrôle, s’agissant de l’identité.</p>
			</div>
	    <LI>Expéditeur</LI>
	        <div id="cguexpediteur">
		        L’expéditeur s’engage à ne présenter aucun colis dont le contenu: 
		        <ul>
			        <li id="cgu_colisinterdits">est classé matériel à risque, marchandise dangereuse, article prohibé à bord des avions (en cabine ou en soute) ou soumis à des restrictions par l’IATA (Association Internationale du Transport Aérien), l’ICAO (Organisation Internationale de l’Aviation Civile), ou par tout département gouvernemental concerné ou tout autre organisme pertinent.</li>
			        <li id="cgu_colisinterdits">présente des animaux, des lingots d’or, des devises, des banderoles fiscales ou des vignettes, des effets de commerce au porteur, des métaux et pierres précieuses, des armes à feu (qu’elles soient vraies ou fausses), des pièces détachées d’armes à feu, des armes, des explosifs, des minutions, des restes humains, du matériel pornographique ou des stupéfiants)</li>
			        <li id="cgu_colisinterdits">a défaut de la déclaration en douane exigée par les règlements douaniers en vigueur </li>
		        </ul>
		        <br/>
		        <p>L’expéditeur propose un colis en publiant une annonce sur le site. Cette annonce donne des informations sur le colis qu’il souhaite expédier. Il peut alors rechercher en ligne des voyageurs pouvant transporter le colis ou être contacté par des voyageurs souhaitant transporter le colis.</p>
	            <p>Le rôle de la société CARRY IT se limite à la mise en relation par internet entre voyageur et expéditeur. CARRY IT ne participe aucunement à la convention entre l’expéditeur et le voyageur, qui doivent s’entendre sur la totalité des modalités de leurs conventions, de même que tout recours devra se diligenter dans les seuls rapports entre l’expéditeur et le voyageur. Les deux parties doivent donc se mettre d’accord sur tous moyens qu’elles se mettront mutuellement à disposition, pour tout ce qui concerne les modalités pratiques de rendez-vous, de rémunération du voyageur pour le service de transport rendu, de livraison du colis, etc…</p>
	        </div>
	    <LI>Voyageur</LI>
		    <div id="cguvoyageur">
			    <p>Le voyageur propose un voyage en publiant une annonce sur le site. Cette annonce donne des informations sur le transport qu’il souhaite effectuer. Il peut alors rechercher en ligne des expéditeurs pouvant lui confier un colis ou être contacté par des expéditeurs souhaitant qu’il transporte leur colis.</p>
			    <p>Le rôle de la société CARRY IT se limite à la mise en relation par internet entre voyageur et expéditeur. CARRY IT ne participe aucunement à la convention entre l’expéditeur et le voyageur, qui doivent s’entendre sur la totalité des modalités de leurs conventions, de même que tout recours devra se diligenter dans les seuls rapports entre l’expéditeur et le voyageur. Les deux parties doivent donc se mettre d’accord sur tous moyens qu’elles se mettront mutuellement à disposition, pour tout ce qui concerne les modalités pratiques de rendez-vous, de rémunération du voyageur pour le service de transport rendu, de livraison du colis, etc…</p>
		    </div>
	    <LI>Tarification, Rémunération et Paiements</LI>
		    <div id="tarification">
			    <p>Le service de mise en relation sur internet est gratuit pour le voyageur et pour l’expéditeur.
				L’expéditeur et le voyageur conviennent ensemble des frais d’expédition, de la rémunération pour le transport, et des diverses modalités.</p>
			</div>
	    <LI>Responsabilité de CARRY IT</LI>
		    <div id="responsabilite">
			    <p>CARRY IT ne peut être tenu responsable de tout dommage lié à la connexion et à l’utilisation du site, au temps d’accès du site, à la vitesse de téléchargement, des difficultés rencontrées par l’utilisateur lors de la consultation du site, des aléas de fonctionnement du site ou de toute interruption temporaire d’accès au site.</p>
			    <p>La responsabilité de CARRY IT ne sera pas engagée pour toute perte ou tout préjudice résultant de circonstances indépendantes de la volonté de CARRY IT. Ces circonstances comprennent entre autres les cas de force majeure (catastrophes naturelles, guerres, etc…), les accidents aériens, les actes ou omissions de toute personne non employée ou sous contrat avec CARRY IT, à savoir l’expéditeur, le destinataire, un douanier ou autre agent public.</p>
			    <p>CARRY IT est responsable uniquement de la mise en relation sur internet des voyageurs et des expéditeurs.</p>
				<p>CARRY IT n’effectue aucun contrôle systématique des coordonnées téléphoniques ou électroniques des utilisateurs, et n’est donc pas responsable en cas d’informations erronées.</p>
		    </div>
	    <LI>Données Personnelles</LI>
		    <div id="donneespersos">
			    <p>CARRY IT est susceptible de recueillir certaines informations nominatives sur le site. L'ensemble des données nominatives fournies par les utilisateurs est uniquement destiné à www.carryit.net et à ses partenaires. Leur utilisation est limitée au bon déroulement des services proposés. Aucune de ces données n'est vendue, donnée, cédée ou échangée. Conformément à la loi informatique et libertés N°78-17 du 6 janvier 1978, l'utilisateur dispose d'un droit d'accès ou de rectification à l'égard des données nominatives collectées.</p>
		    </div>
	    <LI>Dispositions Générales</LI>
	        <div id="disposgene">
		        <p>Toute personne physique ayant recours aux services de CARRY IT fait son affaire personnelle et définitive de tous impôts, taxes ou commissions résultant des expéditions ou des transports.</p>
		        <p>L’utilisateur accepte le fait qu’il peut être amené à visualiser des publicités présentes sur le site.</p>
		        <p>Les internautes sont informés de l’obligation faite à la société CARRY IT d’informer la Commission Nationale de l’Informatique et des Libertés (CNIL), dans les conditions de la réglementation.</p>
		        <p>L'ensemble du contenu du site www.carryit.net, y compris les textes, images, photographies, logos, et bases de données, est protégé par les réglementations françaises et internationales sur les droits de propriété intellectuelle, notamment droits d'auteur, droits voisins, droits des marques. Le fait d'extraire, de réutiliser, ou de reproduire tout ou partie du site sans l'accord préalable des titulaires des droits, est passible de poursuites pénales et civiles.</p>
		        <p>Les particuliers ayant recours aux services de CARRY IT s’interdisent de faire usage de ces services à des fins commerciales, et pour poursuivre des buts illicites ou frauduleux.</p>
		        <p>CARRY IT se réserve le droit de supprimer des propositions de voyage et/ou de colis postés par des utilisateurs si CARRY IT juge le contenu de ces propositions inapproprié.
				CARRY IT se réserve le droit de supprimer tout compte Utilisateur sans justification.</p>
	        </div>
	    <LI>Litiges</LI>
		    <div id="litiges">
				<p>Après recours au service vélocité, si un utilisateur estime avoir subi un préjudice, il doit exercer son recours, exclusivement, à l’égard de l’utilisateur avec qui il avait traité pour l’expédition, le transport, ou la réception d’un colis.</p>
				<p>Concernant le droit applicable de manière générale, les personnes physiques ayant recours aux services de CARRY IT sont informés que les présentes conditions générales sont régies par le droit français. Les utilisateurs accédant le site depuis l'étranger acceptent sans réserve que toute activité sur le site les soumet obligatoirement aux lois françaises. En tant que de besoin, la juridiction compétente en cas de litige sera considérée comme étant les tribunaux français.</p>
		    </div>
    </OL>
</div>
{% endblock %}