{% extends "::layout.html.twig" %}

{% block title %}
	Vérification de l'email 
{% endblock %}

{% block body %}
	<p>{{ 'registration.check_email'|trans({'%email%': user.email}, 'FOSUserBundle') }}</p>
{% endblock %}
