{% extends "::layout.html.twig" %}

{% block body %}
    <div class="subtitle">Inscription</div>
    <div id="registerpage">
        <div class="flash">
        	{% for key, message in app.session.getFlashes() %}
            <div class="{{ key }}">
                {% if 'warning' == key %}
                <div id="warning">
                    {{ message }}
                </div>
                {% else %}
                <div id="notice">
                    {{ message|trans({}, 'FOSUserBundle') }}
                </div>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    	{% include "FOSUserBundle:Registration:register_content.html.twig" %}
        <a href="{{ path('CitTestBundle_homepage') }}">
            retour à l'accueil
        </a>
    </div>
{% endblock %}