{% extends "::layout.html.twig" %}
{# On hérite du layout qui est dans le répertoire CarryitV0.0/app, et non pas du "CitUserBundle::layout.html.twig" #}

{% block title %}
	CARRY IT - oubli de mot de passe
{% endblock %}

{% block body %}
	<div class="subtitle">Oubli de mot de passe</div>
	<div id="resetpwd">
		{% include "FOSUserBundle:Resetting:request_content.html.twig" %}
	</div>
{% endblock body %}