{% extends "::layout.html.twig" %}

{% block title %}
	CARRY IT - oubli de mot de passe
{% endblock %}

{% block body %}
	<div class="subtitle">Nouveau mot de passe</div>
	<div id="resetpwd">
		{% include "FOSUserBundle:Resetting:reset_content.html.twig" %}
	</div>
{% endblock %}