{% extends "CitUserBundle::layout.html.twig" %}

{% block subtitle %}
	Changer mon mot de passe
{% endblock %}

{% block fos_user_content %}
	{% include "FOSUserBundle:ChangePassword:changePassword_content.html.twig" %}

	<a href="{{ path('CitUserBundle_homepage') }}">
        retour à mon compte
    </a>
{% endblock %}

